div.footer-wrapper {
	grid-area: footer;
	height: fit-content;
}

div.footer-wrapper > *{
	display: inline-block;
}

div.footer-wrapper > span.footer, div.footer-wrapper > span.footer > a {
	color: rgba(255, 255, 255, 0.5)
}