@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap');

* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	color: white;
	transition: transform 1s ease-in, opacity 1s ease-in !important;
	transform-origin: bottom;
	margin: 0;
	padding: 0;
}

body {
	background: rgb(87,48,99);
	background: linear-gradient(90deg, rgba(87,48,99,1) 0%, rgba(98,44,115,1) 35%, rgba(155,68,182,1) 100%);
}

.scaled {
	transform: translateY(-70%);
	opacity: 0;
}

.invisible {
	display: none !important;
}
